.blog {
    padding: 6rem 2rem;
    background: var(--background-color);
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.blog-card {
    background: var(--card-background);
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px); /* Efekt unoszenia przy hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Zwiększony cień przy hover */
}

.blog-card h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.blog-card p {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.read-more {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s;
}

.read-more:hover {
    color: var(--secondary-color);
}