footer {
    background: var(--header-background);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Dodanie cienia u góry stopki */
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8; /* Lekka przezroczystość tekstu */
}

[data-theme="dark"] footer {
    background: var(--card-background);
    color: var(--text-color);
}